<h1>Welcome to DEBT!</h1>

<p>In order to get started, DEBT needs to initialize the database and create an administrative user. User creation will happen automatically after the database is initialized. Click the button below to get started!</p>

<form action="/install" method="post">
	<button type="submit">Initialize {{app.title}}</button>
</form>
