<h1>Create a New Ticket</h1>

<form method="post" action="/ticket/new">
	<div>
		<label for="title">Title:</label>
		<input id="title" name="title" required>
	</div>
	<div>
		<label for="body">Description</label>
		<textarea id="body" name="body" required></textarea>
	</div>
	<div>
		<button type="submit">Create ticket</button>
	</div>
</form>
